persistence:
  blobContainer: sc-8c9412b7-ecd5-4aa9-831d-eb95e36fbc5d
  leoAppName: terra-app-168f5e9c-0950-4aa2-bbc9-7681c79e5434
  storageAccount: lz046b33a70cf6ad40d5d3d3
  workspaceManager:
    containerResourceId: f7885090-0482-48e5-b66e-889b4e3156f2
    storageContainerUrl: https://lz046b33a70cf6ad40d5d3d3.blob.core.windows.net/sc-8c9412b7-ecd5-4aa9-831d-eb95e36fbc5d
    url: https://workspace.rtitle-hail.bee.envs-terra.bio
    workspaceId: 8c9412b7-ecd5-4aa9-831d-eb95e36fbc5d
relay:
  domain: lz51c1bec70abd1efe8250cf0538bb5e02cf4a611aea521f3a.servicebus.windows.net
  subpath: /terra-app-168f5e9c-0950-4aa2-bbc9-7681c79e5434-8c9412b7-ecd5-4aa9-831d-eb95e36fbc5d
workloadIdentity:
  serviceAccountName: hfpbjn-hail-ns-8c9412b7-ecd5-4aa9-831d-eb95e36fbc5d-ksa

batch:
  image: {{ batch_image.image }}
  workerImage: {{ batch_worker_image.image }}

hailSHA: {{ code.sha }}
envoyImage: envoyproxy/envoy:v1.22.3
